  <style>
    #shopx-content-slider-{{ section.id }} .con {
      border: 5px solid cyan;
    }
  </style>

<div id="shopx-content-slider-{{ section.id }}" class="container {{ section.settings.content_position }} test" style="background-color: {{ section.settings.background_color }}; min-height:{{ section.settings.min_height }};">

  <div class="content-con flex">
    <div class="con p-med flex-50">
      <div class="con-text" style="border: 1px solid red;">
        {% render 'image-block', bg_image: content_image %}
        {%- if section.settings.content -%}<p style="color: {{ section.settings.text_color }};">{{ section.settings.content }}</p>{%- endif -%}
        {%- if section.settings.button_url_1 -%}<a class="btn shopx-btn" href="{{section.settings.button_url_1}}">{{section.settings.button_text_1}}</a>{%- endif -%}
         <h2>Con 1</h2> 
      </div>
    </div>
    <div class="con flex-50"> <h2>Con 2</h2> </div>
  </div>

</div>

{% schema %}
{
  "name": "ShopX - Content Slider",
  "tag": "section",
  "class": "section-wrapper",
  "settings": [
    {
      "type": "image_picker",
      "id": "content_image",
      "label": "Content Image"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content",
      "default": "Lorem Ipsum dolor ipusm lorem ipsum dolor."
    },
    {
      "type": "text",
      "id": "button_text_1",
      "label": "Button Text 1",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "button_url_1",
      "label": "Button URL 1"
    }
  ],
  "presets": [
    {
      "name":"ShopX - Content Slider"
    }
  ]
}
{% endschema %}