  <style>
    #shopx-content-slider-{{ section.id }} .con {
      border: 5px solid cyan;
    }
    #shopx-content-slider-{{ section.id }} .content-image {
      height: 60%;
    }
    #shopx-content-slider-{{ section.id }} .content-caption {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    #shopx-content-slider-{{ section.id }} .slider-content {
      position: relative;
      z-index: 2;
      width: 50%;
      float: left;
    }
    #shopx-content-slider-{{ section.id }} .slider-image {
      text-align: center;
      position: relative;
      z-index: 1;
      height: 100%;
      width: 50%;
      float: right;
    }
    #shopx-content-slider-{{ section.id }} .slider-image img {
      height: 100%;
      width: auto;
      /* object-fit: cover; */
    }

    @media (max-width: 767px) {
      #shopx-content-slider-{{ section.id }} {
        height: 90vh!important;
      }
      #shopx-content-slider-{{ section.id }} .slider-image, 
      #shopx-content-slider-{{ section.id }} .slider-content {
        float: none;
        width: 100%;
      }
      #shopx-content-slider-{{ section.id }} .content-image {
        height: 200px;
      }
      #shopx-content-slider-{{ section.id }} .con-text {
        justify-content: flex-start;
      }
      #shopx-content-slider-{{ section.id }} .slider-image {
        position: absolute;
        height: 60%;
        bottom: 0;
        overflow: hidden;
      }
      #shopx-content-slider-{{ section.id }} .slider-image img {
        height: 100%;
        width: auto;
        margin-top: 60px;
      }
    }
  </style>

<div id="shopx-content-slider-{{ section.id }}" class="container" style="height:{{ section.settings.min_height }};">
<div class="splide">
  <div class="splide__track">
		<ul class="splide__list">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'x_slider' -%}
        <li class="splide__slide">
          <div class="{{ block.settings.content_position }} test" style="background-color: {{ block.settings.background_color }};">

            <div class="content-con height-100">
              <div class="con p-med height-100 flex-50 slider-content">
                <div class="con-text flex flex-center flex-col height-100 text-center" style="border: 1px solid red;">
                  {% assign content_image = block.settings.content_image %}
                  {%- if block.settings.content_image -%} <figure class="content-image">{% render 'image-block', bg_image: content_image %}</figure> {%- endif -%}
                  {%- if block.settings.content -%}<p class="content-caption" style="color: {{ block.settings.text_color }};">{{ block.settings.content }}</p>{%- endif -%}
                  {%- if block.settings.button_url_1 -%}<a class="btn shopx-btn" href="{{block.settings.button_url_1}}">{{block.settings.button_text_1}}</a>{%- endif -%}
                </div>
              </div>
              <div class="slider-image" style="padding:{{block.settings.slider_image_pad}};">{% render 'image-block', bg_image: block.settings.slider_image %}</div>
            </div>

            {%- if block.settings.bg_image != blank -%}
            <div class="bgimage" style="opacity: {{block.settings.bg_opacity}};">
              {% assign bg_image = block.settings.bg_image %}
              {% render 'image-block', bg_image: bg_image %}
            </div>
            {%- endif -%}
          </div>
        </li>
      {%- endcase -%}
      {%- endfor -%}
		</ul>
  </div>
</div>
</div>

{% schema %}
{
  "name": "ShopX - Content Slider",
  "tag": "section",
  "class": "section-wrapper",
  "settings": [
    {
      "type": "text",
      "id": "min_height",
      "label": "Section Height",
      "default": "70vh",
      "info": "use px, em, %, vh"
    }
  ],
  "blocks" : [
    {
      "type": "x_slider",
      "name": "x_slider",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "content_image",
          "label": "Content Image"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content",
          "default": "Lorem Ipsum dolor ipusm lorem ipsum dolor."
        },
        {
          "type": "text",
          "id": "button_text_1",
          "label": "Button Text 1",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_url_1",
          "label": "Button URL 1"
        },
        {
          "type": "image_picker",
          "id": "slider_image",
          "label": "Content Image"
        },
        {
          "type": "header",
          "content": "Section Settings"
        },
        {
          "type": "text",
          "id": "slider_image_pad",
          "label": "Slider Image Padding",
          "default": "0",
          "info": "use px, em, %, vh"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name":"ShopX - Content Slider"
    }
  ]
}
{% endschema %}