  <style>
    #shopx-content-slider-{{ section.id }} .con {
      border: 5px solid cyan;
    }
    #shopx-content-slider-{{ section.id }} .content-image {
      height: 60%;
    }
    #shopx-content-slider-{{ section.id }} .content-caption {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    #shopx-content-slider-{{ section.id }} .slider-content {
      position: relative;
      z-index: 2;
      width: 50%;
      float: left;
    }
    #shopx-content-slider-{{ section.id }} .slider-image {
      text-align: center;
      position: relative;
      z-index: 1;
      height: 100%;
      width: 50%;
      float: right;
    }
    #shopx-content-slider-{{ section.id }} .slider-image img {
      height: 100%;
      width: auto;
      /* object-fit: cover; */
    }

    @media (max-width: 767px) {
      #shopx-content-slider-{{ section.id }} {
        height: 90vh!important;
      }
      #shopx-content-slider-{{ section.id }} .slider-image, 
      #shopx-content-slider-{{ section.id }} .slider-content {
        float: none;
        width: 100%;
      }
      #shopx-content-slider-{{ section.id }} .content-image {
        height: 200px;
      }
      #shopx-content-slider-{{ section.id }} .con-text {
        justify-content: flex-start;
      }
      #shopx-content-slider-{{ section.id }} .slider-image {
        position: absolute;
        height: 60%;
        bottom: 0;
        overflow: hidden;
      }
      #shopx-content-slider-{{ section.id }} .slider-image img {
        height: 100%;
        width: auto;
        margin-top: 60px;
      }
    }
  </style>

<div id="shopx-content-slider-{{ section.id }}" class="container {{ section.settings.content_position }} test" style="background-color: {{ section.settings.background_color }}; height:{{ section.settings.min_height }};">

  <div class="content-con height-100">
    <div class="con p-med height-100 flex-50 slider-content">
      <div class="con-text flex flex-center flex-col height-100 text-center" style="border: 1px solid red;">
        {% assign content_image = section.settings.content_image %}
        {%- if section.settings.content_image -%} <figure class="content-image">{% render 'image-block', bg_image: content_image %}</figure> {%- endif -%}
        {%- if section.settings.content -%}<p class="content-caption" style="color: {{ section.settings.text_color }};">{{ section.settings.content }}</p>{%- endif -%}
        {%- if section.settings.button_url_1 -%}<a class="btn shopx-btn" href="{{section.settings.button_url_1}}">{{section.settings.button_text_1}}</a>{%- endif -%}
      </div>
    </div>
    <div class="slider-image" style="padding:{{section.settings.content_image_pad}};">{% render 'image-block', bg_image: section.settings.slider_image %}</div>
    <!-- <div class="con height-100 flex-50">
      {% assign slider_image = section.settings.slider_image %}
      {%- if section.settings.slider_image -%}<figure class="slider-image">{% render 'image-block', bg_image: slider_image %}</figure>{%- endif -%}
    </div> -->
  </div>

  {%- if section.settings.bg_image != blank -%}
    <div class="bgimage" style="opacity: {{section.settings.bg_opacity}};">
      {% assign bg_image = section.settings.bg_image %}
      {% render 'image-block', bg_image: bg_image %}
    </div>
  {%- endif -%}

</div>

{% schema %}
{
  "name": "ShopX - Content Slider",
  "tag": "section",
  "class": "section-wrapper",
  "settings": [
    {
      "type": "image_picker",
      "id": "content_image",
      "label": "Content Image"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content",
      "default": "Lorem Ipsum dolor ipusm lorem ipsum dolor."
    },
    {
      "type": "text",
      "id": "button_text_1",
      "label": "Button Text 1",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "button_url_1",
      "label": "Button URL 1"
    },
    {
      "type": "image_picker",
      "id": "slider_image",
      "label": "Content Image"
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "text",
      "id": "min_height",
      "label": "Section Height",
      "default": "70vh",
      "info": "use px, em, %, vh"
    },
    {
      "type": "text",
      "id": "slider_image_pad",
      "label": "Slider Image Padding",
      "default": "0",
      "info": "use px, em, %, vh"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    }
  ],
  "presets": [
    {
      "name":"ShopX - Content Slider"
    }
  ]
}
{% endschema %}