<div id="shopx-text-banner-{{ section.id }}" class="container {{ section.settings.content_position }}" style="background-color: {{ section.settings.bg_color }}; height:{{ section.settings.min_height }};">
  <div class="content-con page-width height-100 p-large grid grid-1-2 gap-40">
    <div class="con">
      <h6 class="title-font xx-large" style="color:{{ section.settings.text_color }};">{{section.settings.header}}</h6>
    </div>
    <div class="con flex flex-center">
      <p class="large" style="color:{{ section.settings.text_color }};">{{section.settings.content}}</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "ShopX - Text Banner",
  "tag": "section",
  "class": "section-wrapper",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Lorem Ipsum"
    },
    {
      "type": "text",
      "id": "content",
      "label": "Content",
      "default": "Lorem Ipsum dolor ipusm lorem ipsum dolor."
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#cccccc"
    }
  ],
  "presets": [
    {
      "name":"ShopX - Text Banner"
    }
  ]
}
{% endschema %}